<html lang="en">
  <head>
    <meta character="utf-8">
    <title>Huppy movies</title>
  <link rel="stylesheet" href="assets/stylesheets/reset.css">
  <link rel="stylesheet" href="assets/stylesheets/huppy.css">
  </head>
  <header>
      <h1> Huppy movies </h1>
  <body>

      <body id="top">
    <!-- patrs -->
       <section>
         <code>
              <section class="col-1-3">

                <a href="index.html"> FEELM </a>
              </section>
            </code>
        </section>

        <dl>
          <dt>>Finding nemo</dt>
          <dd>Sweet father-son tale with some unexpexted moments</dd>
          <dt>>Meet the parents</dt>
          <dd>Meeting your partner’s parents is bound to be stressful – but Greg Focker (Ben Stiller) has it worse than most.</dd>
          <dt>>Safety Last! </dt>
          <dd>‘The idea of working in your shirt sleeves! Think of the shock to your customers, women of culture and refinement!’</dd>
        </dl>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <aside>
        <code>
          Contact our group for further information and advises:
          <a href="mailto:shay@awesome.com?subject=Reaching%20Out&body=How%20are%20you"><br>Email Me</a>
          </code>
          <br>
          <br>
      </aside>

      <footer>
        <code>
          We would lide to know more about your feelings:
          <br>
          <textarea name="comment">Add your comment here</textarea>
        </code>
      </footer>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


      <a href="#top">Back to top</a>
      </body>
      </html>
