<!DOCTYPE html>
<html lang="en">
  <head>
    <meta character="utf-8">
    <title>Hello hack </title>
  <link rel="stylesheet" href="assets/stylesheets/reset.css">
  <link rel="stylesheet" href="assets/stylesheets/main.css">
  </head>

  <header>
      <h1>FEELM</h1>
      <p> its not all about what you think, its all about what you feel </p>
  </header>

  <body id="top">
<!-- patrs -->
   <section>
     <code>
          <section class="col-1-3">

            <a href="scary.html"> scary </a>
          </section>
        </code>
    </section>
    <section>
      <code>
           <section class="col-1-3">
            <a href="disquasting.html"> disquasting </a>
           </section>
         </code>
     </section>
     <section>
       <code>
            <section class="col-1-3">
              <a href="huppy.html"> huppy</a>
            </section>
          </code>
      </section>
      <section>
        <code>
             <section class="col-1-3">
               <a href="sad.html"> sad </a>
             </section>
           </code>
       </section>
       <section>
         <code>
              <section class="col-1-3">
                <a href="surprising.html"> surprising </a>
              </section>
            </code>
        </section>
        <section>
          <code>
               <section class="col-1-3">
                 <a href="neutral.html"> nuetral </a>
               </section>
             </code>
         </section>
  <!--end of patrs-->
  <aside>
    <code>

      Contact our groupfor ferther information and advises:
      <br>
      <br>
      <a href="mailto:shay@awesome.com?subject=Reaching%20Out&body=How%20are%20you"><br>Email Me</a>
      </code>
      <br>
      <br>
  </aside>

  <footer>
    <code>
      We would lide to know more about your feelings:
      <br>
      <br>
      <textarea name="comment">Add your comment here</textarea>
    </code>
  </footer>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <a href="#top">Back to top</a>
  </body>
  </html>
